services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.development
    volumes:
      - ./app:/app
    env_file:
      - .env
    ports:
      - '8000:8000'
    depends_on:
      - psql
    environment:
      - TZ=America/Sao_Paulo

  psql:
    image: postgres:18-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - TZ=America/Sao_Paulo
    ports:
      - "5432:5432"

volumes:
  postgres_data:
